<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--配置一个目标对象-->
    <bean id="hello" class="com.soft1851.spring.aop.hello.HelloImpl"/>
    <!--配置一个前置增强对象-->
    <bean id="beforeAdvice" class="com.soft1851.spring.aop.hello.BeforeAdvice"/>
    <!--aop配置,配置切点，切点表达式，增强的注入-->
    <aop:config>
        <aop:aspect id="before" ref="beforeAdvice">
            <!--切点配置-->
            <aop:pointcut id="beforeCut" expression="execution(* com.soft1851.spring.aop.hello..*.*(..))"/>
            <!--增强的注入-->
            <aop:before method="beforeMethod" pointcut-ref="beforeCut"/>
        </aop:aspect>
    </aop:config>
</beans>